### Research on the two methods of copying a list with examples

There are various ways or method of copying a list.
However, for the purpose of the assignment
<br>we would consider just 2;
1. Copying a list using .slice()
2. Copying a list using .extend()

In [191]:
# slice method
original_list= ["I am a Data scientist", "We just concluded SQL", "Now moving to Python", 
           "[I am a student of Appclick]", [1,2,4,6,8],"SQL", 9,8,7,6]

# create a new list we want to paste in

cloned_list = original_list[:]

# Here we used the assign operator to extract the whole data in the old list to the new list 
# without modifyong the contents of the old list.This is exactly what slice does
print(original_list)
print(cloned_list)

['I am a Data scientist', 'We just concluded SQL', 'Now moving to Python', '[I am a student of Appclick]', [1, 2, 4, 6, 8], 'SQL', 9, 8, 7, 6]
['I am a Data scientist', 'We just concluded SQL', 'Now moving to Python', '[I am a student of Appclick]', [1, 2, 4, 6, 8], 'SQL', 9, 8, 7, 6]

In [192]:
# extend method 

initial_list = ["BLACK", "YELLOW", "GREEN", "CHOCOLATE", "COFFEE", "LEMON"]
later_List = [] #At the moment its empty
later_List.extend(initial_list)# Here we are extending or passing the contents in initial list
                                 # to the later list.
    
print(initial_list)
print(later_List)

['BLACK', 'YELLOW', 'GREEN', 'CHOCOLATE', 'COFFEE', 'LEMON']
['BLACK', 'YELLOW', 'GREEN', 'CHOCOLATE', 'COFFEE', 'LEMON']

### Differentiate between the find method and count and index methods.

* Find and Index returns the position of an element or value at first occurrence. 
<br> However where the difference lies is that .Find() works for string and not list, 
<br> while .index() works for both.

* Also for .find(), when the specified value is not found it return an (-1) 
<br> but in the case of .index() it returns an error message if the substring or elements 
<br> isnt found  not found in a string or list respectively

* In the case of count, while the other two functions (find and index) 
<br> returns the position of an element or value, 
<br> count method check the number of occurrence of a specified value/element.

Below is an example of how individual methods works

In [193]:
#find()

str_1 = "I am a data scientist"
str_2 = str_1.find("s")
print(str_2)

#We can also pass the function into a print statement.Eg:
print(str_1.find("s"))

12
12

In [195]:
# Count()

str_1 = ["Bracket", "Exponential", "Division", "Multiplication", "Addition", "Subtraction"]

#let us add an element that is already present in the list
# We can use the append and insert method for this 

str_1.append("Exponential")
str_1.append("Exponential")
str_1.insert(4, "Exponential")

# "Exponential" seems to appear more than one,we can use count method to check
             
print(str_1.count("Exponential"))
print(str_1)

4
['Bracket', 'Exponential', 'Division', 'Multiplication', 'Exponential', 'Addition', 'Subtraction', 'Exponential', 'Exponential']

In [62]:
# Index() 

#using index to work on a string

str_1 = "I am a data scientist"
str_2 = str_1.find("a")
print(str_2)

2

In [196]:
#using index to work on a list

another_eg = ["Plain", 1, 6, 8, ("Banana","Mango"), [34,68,9,3],"People", 
              "A", "Plan",[56,9,23,3], "Plain",[34,68,9,3],"People", 
              "b", 1, 9,("Banana"), "Be", "A", 4, "Plain", 0]

print(another_eg.index("Plain"))
print(another_eg.index("A"))
print(another_eg.index(("Banana")))
print(another_eg.index(9))     
print(another_eg.index([34,68,9,3]))

0
7
16
15
5

### Create a Personal “To-Do List”

* Utilize various list functions.
* Remove the entire list.

In [197]:
#Creating a to do list
_myTD_list = ["Register for a Gym session", "Try a new recipe for groundnut oil-smoky coconut rice",
                     "Revisit SQL and attempt task on it"]
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it']

In [198]:
#Trying .append()
_myTD_list.append("Hold a tutorial class on python")
_myTD_list.append("Complete MAKING SMART GOALS book")
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book']

In [200]:
# Creating another to-do list
another_list = ["Sign up for regular pioneering",
                "Record at least 5 hours in the field ministry within a week",
                ("Eat", "Sleep", "Code"), "Take a dancing class", 
                "Get married before the end of August", "Complete MAKING SMART GOALS book", 
                "Listen to podcast on self devoplment at least thrice a week", 
                "Attend a paint and sip session", "Visit Lagos before the end of the month",
                "Visit at least one ederly person in the congregation", 
                "Hold a tutorial class on python"]
another_list

['Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Get married before the end of August',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation',
 'Hold a tutorial class on python']

In [201]:
#Trying .extend()

_myTD_list.extend(another_list)
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Get married before the end of August',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation',
 'Hold a tutorial class on python']

In [202]:
#using insert method
_myTD_list.insert(5, "Take 5 minutes evening walk around the estate")
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Take 5 minutes evening walk around the estate',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Get married before the end of August',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation',
 'Hold a tutorial class on python']

In [203]:
#Using remove method
_myTD_list.remove("Take 5 minutes evening walk around the estate")
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Get married before the end of August',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation',
 'Hold a tutorial class on python']

In [204]:
#Using pop()
#"Hold a tutorial on python" seems to appear twice,
# pop can help do away with one of them

_myTD_list.pop()
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Get married before the end of August',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation']

In [205]:
# Pop can also pop out any element regardless of its position, provided the index number
# of the element is passed. Eg:Getting married before the end of the month does seem
# realistic so i want to pop it out

_myTD_list.pop(9)
_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 ('Eat', 'Sleep', 'Code'),
 'Take a dancing class',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation']

In [206]:
# using del method to delete the tupple i have in my list
del _myTD_list[-7]

_myTD_list

['Register for a Gym session',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Revisit SQL and attempt task on it',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Sign up for regular pioneering',
 'Record at least 5 hours in the field ministry within a week',
 'Take a dancing class',
 'Complete MAKING SMART GOALS book',
 'Listen to podcast on self devoplment at least thrice a week',
 'Attend a paint and sip session',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation']

In [207]:
#Using sort function 
_myTD_list.sort()
_myTD_list

['Attend a paint and sip session',
 'Complete MAKING SMART GOALS book',
 'Complete MAKING SMART GOALS book',
 'Hold a tutorial class on python',
 'Listen to podcast on self devoplment at least thrice a week',
 'Record at least 5 hours in the field ministry within a week',
 'Register for a Gym session',
 'Revisit SQL and attempt task on it',
 'Sign up for regular pioneering',
 'Take a dancing class',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Visit Lagos before the end of the month',
 'Visit at least one ederly person in the congregation']

In [208]:
#using reverse method 
_myTD_list.reverse()
_myTD_list

['Visit at least one ederly person in the congregation',
 'Visit Lagos before the end of the month',
 'Try a new recipe for groundnut oil-smoky coconut rice',
 'Take a dancing class',
 'Sign up for regular pioneering',
 'Revisit SQL and attempt task on it',
 'Register for a Gym session',
 'Record at least 5 hours in the field ministry within a week',
 'Listen to podcast on self devoplment at least thrice a week',
 'Hold a tutorial class on python',
 'Complete MAKING SMART GOALS book',
 'Complete MAKING SMART GOALS book',
 'Attend a paint and sip session']

In [209]:
#Using index function to know the position of a specified element at it first occurence 
_myTD_list.index("Complete MAKING SMART GOALS book")

10

In [210]:
#Using len to know the total numbers of highlighted goals in the To do list
len(_myTD_list)

13

In [211]:
#Using clear method to wipe out the contents in _myTD_list
_myTD_list.clear()
print(_myTD_list)

[]

In [212]:
# Using copy method
#creating a more defined to-do list

August_TDlist = [{"Career goals": ("Hold a tutorial class on python",
                                    "Revisit SQL and attempt task on it",
                                    ("Eat", "Sleep", "Code")), 
                   
                  "Spiritual goals": ["Sign up for regular pioneering", 
                                      "Record at least 5 hours in the field ministry within a week",
                                      "Visit at least on ederly person in the congregation"],
                   
                  "Self development goals": ("Complete MAKING SMART GOALS book", 
                                             "Try a new recipe for groundnut oil-smoky coconut rice",
                                "Listen to podcast on self devoplment at least thrice a week"),
                   
                   "Health goals": ["Take 5 minutes evening walk around the estate",
                                    "Register for a gym class", "Take a dancing class"]},
                   
                  "Visit Lagos before the end of the month", "Attend a paint and sip hangout"]
August_TDlist

#Copying the content of August_TDlist to _myTD_list

_myTD_list = August_TDlist.copy()
_myTD_list

[{'Career goals': ('Hold a tutorial class on python',
   'Revisit SQL and attempt task on it',
   ('Eat', 'Sleep', 'Code')),
  'Spiritual goals': ['Sign up for regular pioneering',
   'Record at least 5 hours in the field ministry within a week',
   'Visit at least on ederly person in the congregation'],
  'Self development goals': ('Complete MAKING SMART GOALS book',
   'Try a new recipe for groundnut oil-smoky coconut rice',
   'Listen to podcast on self devoplment at least thrice a week'),
  'Health goals': ['Take 5 minutes evening walk around the estate',
   'Register for a gym class',
   'Take a dancing class']},
 'Visit Lagos before the end of the month',
 'Attend a paint and sip hangout']

In [216]:
# According to the instruction, we are to delete the list

August_TDlist.clear() #Goodbye To-do list
print(August_TDlist)

[]

### Research on how to update a Tuple, if possible.

Although a tuple, once created cannot be changed as its considered immutable. 
Howevere there is a way to go about it. One way we can do so is by converting or type casting 
the tuple into a list first, make the needed changes and convert it back to a tuple. 

lets take a look at an example:

In [224]:
tup = ("Bubble", "Bettle", "Baboon", "Bottle", "Bingo") #Here is a tupple
#I want to add "Better" and "Butter" to the list
#Converting to a list for modification 

li = list(tup)
type(li)

li[1] = "Butter"
li.append("Better")
print(li)

# We have modified the list, its time to convert it back to a tupple

tup = tuple(li)
print(tup)

['Bubble', 'Butter', 'Baboon', 'Bottle', 'Bingo', 'Better']
('Bubble', 'Butter', 'Baboon', 'Bottle', 'Bingo', 'Better')